h1 {
  color: #7c795d;
  font-family: 'Georgia';
  font-size: 45px;
  font-style: italic;
  font-weight: normal;
  line-height: 48px;
  text-align: center;
  margin-top: 5%;
}

h2 {
  text-align: center;
  color: #CEF0D4;
  font-family: monospace;
  opacity: 0.5;
}

html {
    height: 100%;
}

body {
    background-color: #58873c;
/*    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);*/
    background-image: linear-gradient(#222, #444);
    background-repeat: no-repeat;
    background-size: fixed;
    height: 100%;
    margin: 0;
}







.quiz_name {
    padding-top: 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.qchunk {
    width: 90%;
    margin: auto;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: white;
}

.choice {
    width: 30%;
    height: 40%;
    position: absolute;
    overflow-x: hidden;
}

.choice:after {
    content: "";
    display: block;
}

.left {
    left: 10%;
}

.right {
    right: 10%;
}

.image {
    width: 100%;
    height: 90%;
    border: 1px solid white;
}

.cold {
    background-image: url(images/cold.jpg);
}

.hot {
    background-image: url(images/hot.jpg);
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


