h1 {
  color: #7c795d;
  font-family: 'Georgia';
  font-size: 45px;
  font-style: italic;
  font-weight: normal;
  line-height: 48px;
  text-align: center;
  margin-top: 5%;
}

h2 {
  text-align: center;
  color: #CEF0D4;
  font-family: monospace;
  opacity: 0.5;
}

html {
    height: 100%;
}

body {
/*    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);*/
    overflow-y: auto;
}








.quiz_name {
    padding-top: 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.q_card {
    color: white;
}

.q_title {
    color: white;
    font-size: 30px;
    line-height: 300%;
}

.q_item {
    display: block;
    position: relative;
    padding-left: 40px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    background-color: #4f4f4f;
    width: 200px;
    border-radius: 5px;
}

.q_item:hover {
    background-color: #424242;
}

.q_item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 6.5px;
    left: 6.5px;
    height: 25px;
    width: 25px;
    background-color: #333;
    border-radius: 5px;
}

.q_item input:checked ~ .checkmark {
    background-color: #ccc;
}

.next_button {
    position: relative;
    left: -15px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #6ea64e;
    color: white;
}
/*
.qchunk {
    width: 100%;
    margin: auto;
    font-family: "Raleway", sans-serif;
    color: white;
}

.question {
    text-align: center;
}

.choice_container {
    margin-top: 5%;
    white-space: nowrap;
    text-align: center;
}

.choice {
    width: 40%;
    overflow-x: hidden;
    display: inline-block;
}

.choice:after {
    content: "";
    display: block;
}

.left {
    margin-right: 5%;
}

.right {
    margin-left: 5%;
}

.image {
    width: 100%;
    overflow: hidden;
    border: 1px solid white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.option {
    text-align: center;
}

.left_arrow {
    float: left;
}

.right_arrow {
    float: right;
}

.sel {
    width: 30px;
}
*/



.hide {
    display: none !important;
}

.show {
    display: block !important;
}