/*This style should apply to all pages*/

body {
    /* Margin bottom by footer height */
/*    margin-bottom: 50px !important;*/
}
h1 {
  color: #7c795d;
  font-family: 'Georgia';
  font-size: 45px;
  font-style: italic;
  font-weight: normal;
  line-height: 48px;
  text-align: center;
  margin-top: 5%;
}

h2 {
  text-align: center;
  color: #CEF0D4;
  font-family: monospace;
  opacity: 0.5;
}
